<nav>
    <ul>
        <li class="{% if page.url contains 'required-fields.html' %}current{% endif %}">
            <a href="required-fields.html">Обязательные &nbsp;поля</a>
        </li>
        <li class="{% if page.url contains 'date-and-time.html' %}current{% endif %}">
            <a href="date-and-time.html">Дата &nbsp;и &nbsp;время</a>
        </li>
        <li class="{% if page.url contains 'spaces.html' %}current{% endif %}">
            <a href="spaces.html" >Пробелы</a>
        </li>
    </ul>
</nav>
