body {
    font-family: "Inter", Arial, serif;
    font-optical-sizing: auto;
}

a, a:visited {
    color: rgba(0, 43, 255, 1)
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-color: rgba(0, 43, 255, 0.3);
}
