body {
    font-family: Inter, Helvetica Neue, Arial, serif;
    font-optical-sizing: auto;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

a, a:visited {
    color: rgba(0, 43, 255, 1);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-color: rgba(0, 43, 255, 0.3);
}

.margins{
    margin: 0 2% 0 2%;
}


/* Editorial-standards */

main.es{
    display: flex;
}

.es-content{
    flex: 1 0 0;
}

.es-toc li.current{
    background: #ccc;
}





h1 {
    font-size: 40px
    line-height: 42px;
    margin: 0 0 16px;
    font-weight: bold;
}

h2 {
    font-size: 2rem; /* 32px */
    line-height: 1.05;
    margin: 0 0 1.125rem;
    font-weight: bold;
}

h3 {
    font-size: 1.75rem; /* 28px */
    line-height: 1.05;
    margin: 0 0 1rem;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.2;
    margin: 0 0 0.875rem;
    font-weight: bold;
}

h5 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.2;
    margin: 0 0 0.75rem;
    font-weight: bold;
}

p {
    line-height: 1,375;
    margin: 0 0 0.625rem;
}
