body {
    font-family: Inter, Helvetica Neue, Arial, serif;
    font-optical-sizing: auto;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

a, a:visited {
    color: rgba(0, 43, 255, 1);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-color: rgba(0, 43, 255, 0.3);
}

.margins{
    margin: 0 2% 0 2%;
}

/* Editorial-standards */

main.es{
    display: flex;
}

.es-content{
    flex: 1 0 0;
}


h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
}