body {
    font-family: Inter, Helvetica Neue, Arial, serif;
    font-optical-sizing: auto;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

a, a:visited {
    color: rgba(0, 43, 255, 1);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-color: rgba(0, 43, 255, 0.3);
}

.margins{
    margin: 0 2% 0 2%;
}


/* Editorial-standards */

main.es{
    display: flex;
}

nav{
    margin:0 0 60px;
}

.es-content{
    flex: 1 0 0;
}

.es-toc li.current{
    background: #ccc;
}





h1 {
    font-size: 40px;
    line-height: 42px;
    margin: 0 0 16px;
    font-weight: bold;
    max-width: 860px;
}

h2 {
    font-size: 28px;
    line-height: 32px;
    margin: 48px 0 12px;
    font-weight: bold;
    max-width: 860px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 32px 0 12px;
    font-weight: bold;
    max-width: 860px;
}

p {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 12px 0;
    max-width: 860px;
}
